extends ../layouts/default

block content
    #content

block js
    script(src="/js/templates/navbar.js")
    script(src="/js/templates/posts.js")
    script(src="/js/templates/authorsPage.js")
    script(src="/js/view/author.js")