extends ../layouts/default

block css
    link(href="/styles/site/tui.css", rel="stylesheet")
    link(href="/styles/site/tui-my.css", rel="stylesheet")

block content
    #content

block js
    script(src="/js/build/commons.js")
    script(src="/js/build/author.js")    