extends ../layouts/default

block css
    link(href="/styles/site/quiz.css", rel="stylesheet")

block content
    #content

block js
    script(src="/js/build/commons.js")
    script(src="/js/build/emodji.js")
    script(src="/js/emoji.js")
    script(src="/js/emojiTest.js")
    //- script(src="/js/dlxquiz.js")
    //- script(src="/js/q.js")
