extends ../layouts/default

block css
    link(href="/styles/site/mainStyle.css", rel="stylesheet")

block content
    #content

block js
    script(src="/js/build/commons.js")
    script(src="/js/build/login.js")