extends ../layouts/default

block content
    #content
        #login-page(style="background-image: url('/images/login.jpg');")
            .form-box
                .form-logo
                    p.text-center
                        img(src='./images/logo.png', alt='logo')
                
                form(onsubmit='login(this); return false;')
                    input#email.form-control(type='text', placeholder='E-mail', autocomplete='email')
                    input#password.form-control(type='password', placeholder='Пароль', autocomplete='current-password')
                    input.btn.btn-social(type='submit', value='LOGIN')
                    //- a.btn(href='#', title='Forgot password') Forgot your password?
                    a.btn(href='register', title='Sign in') Новый пользователь?

block js
    script.
        function login(form) {
            let username = 'username=' + form.querySelector('#email').value;
            let password = 'password=' + form.querySelector('#password').value;
            let q = 'auth/signin?' + username + '&' + password;
            let xhr = new XMLHttpRequest();
            let that = this;
            
            xhr.open('GET', q, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (this.readyState == XMLHttpRequest.DONE) {
                    let res = JSON.parse(this.responseText);
                    if (res.success) window.location = '/wall';
                }
            }
        }
    