extends ../layouts/default
block content

    <!--Header with Nav -->
    .navbar(role='navigation-demo')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt='ККРЯ' src='/images/logo.png')
            
            #navigation.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    each link in navLinks
                        li(class=(section == link.key ? 'active' : null)): a.btn(href=link.href class=(link.style ? link.style : 'btn-simple'))= link.label
                ul.nav.navbar-nav.navbar-right
                        if user
                            if user.canAccessKeystone
                                li: a(href='/keystone') Open Keystone
                            li: a(href='/keystone/signout') Sign Out
                        else
                            li: a(href='/keystone/signin') Sign In

            <!-- Modal container for settings--->
            <div id="settingsmodal" class="modal fade text-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>

    <!--Wall with Post -->
    <div class="content-posts active" id="posts">
        <div class="primary-content">
            <div id="posts-container" class="container-fluid container-posts">

                <div class="card-post">
                    
                    //-  card-header
                    <div class="row">
                        
                        //- image
                        <div class="col-xs-3 col-sm-2">
                            <a href="personal-profile.html" title="Profile">
                                <img src="/images/avatar-default.png" alt="User name" class="img-circle img-user">
                            </a>
                        </div>
                        
                        //- name
                        <div class="col-xs-9 col-sm-10 info-user">
                            <h3><a href="personal-profile.html" title="Profile">My User</a></h3>
                            <p><i>2h</i></p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 data-post">
                            <p>Lorem Ipsum Dolor si amet</p>
                            <div class="reaction">
                                <img draggable="false" class="emoji" alt="❤" src="https://twemoji.maxcdn.com/16x16/2764.png"> 156 <img draggable="false" class="emoji" alt="😃" src="https://twemoji.maxcdn.com/16x16/1f603.png"> 54
                            </div>
                            <div class="comments">
                                <div class="more-comments">View more comments</div>
                                <ul>
                                    <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                                    <li><b>User2</b> Lorem Ipsum Dolor si amet <img draggable="false" class="emoji" alt="😂" src="https://twemoji.maxcdn.com/16x16/1f602.png"></li>
                                </ul>
                                <form>
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-post">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="user-profile.html" title="User Profile">
                                <img src="/images/avatar-default.png" alt="User name" class="img-circle img-user">
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 info-user">
                            <h3><a href="user-profile.html" title="User Profile">User Name</a></h3>
                            <p><i>2h</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-8 col-sm-offset-2 data-post">
                            <p>Lorem Ipsum Dolor si amet</p>
                            <img src="/images/login.jpg" alt="image post" class="img-post">
                            <div class="reaction">
                                <img draggable="false" class="emoji" alt="❤" src="https://twemoji.maxcdn.com/16x16/2764.png"> 1234 <img draggable="false" class="emoji" alt="😃" src="https://twemoji.maxcdn.com/16x16/1f603.png"> 54
                            </div>
                            <div class="comments">
                                <div class="more-comments">View more comments</div>
                                <ul>
                                    <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                                    <li><b>User2</b> Lorem Ipsum Dolor si amet <img draggable="false" class="emoji" alt="😂" src="https://twemoji.maxcdn.com/16x16/1f602.png"></li>
                                </ul>
                                <form>
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-post">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="personal-profile.html" title="User Profile">
                                <img src="/images/avatar-default.png" alt="User name" class="img-circle img-user">
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 info-user">
                            <h3><a href="personal-profile.html" title="User Profile">My User</a></h3>
                            <p><i>2h</i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 data-post">
                            <p>Lorem Ipsum Dolor si amet</p>
                        <video controls="">
                        //- <source src="img/post-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                            <div class="reaction">
                                <img draggable="false" class="emoji" alt="❤" src="https://twemoji.maxcdn.com/16x16/2764.png"> 1234 <img draggable="false" class="emoji" alt="😃" src="https://twemoji.maxcdn.com/16x16/1f603.png"> 54
                            </div>
                            <div class="comments">
                                <div class="more-comments">View more comments</div>
                                <ul>
                                    <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                                    <li><b>User2</b> Lorem Ipsum Dolor si amet <img draggable="false" class="emoji" alt="😂" src="https://twemoji.maxcdn.com/16x16/1f602.png"></li>
                                </ul>
                                <form>
                                    <input type="text" class="form-control" placeholder="Add a comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Close #posts-container-->


        
        <div class="sidebar-right hidden-xs hidden-sm">
            <!-- ABOUT -->
            <div class="card-post">
                <div class="row">
                    <div class="col-sm-12">
                        <p><i>Интересное</i></p>
                        <h3><a href="#" title="Company">О проекте</a></h3>
                        <img src="/images/login.jpg" alt="Suggested post">
                    </div>
                </div>
            </div>
            
            <!-- AUTHORS -->
            <div class="card-post">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Популярные авторы</h3>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                    <div class="col-xs-3 popular-img">
                        <a href="#">
                        <img src="/images/avatar-default.png" alt="User name" class="img-circle">
                        </a>
                    </div>
                </div>
            </div>
        
            <!-- PHOTOS -->
            <div class="card-post">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Популярные фотографии</h3>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                    <div class="col-xs-4 popular-img">
                        <a href="#">
                            <img src="/images/login.jpg" alt="User name">
                        </a>
                    </div>
                </div>
            <div/>

        </div>
    
    
    </div>
        <div id="loading">
            //- <img src="img/load.gif" alt="loader">
        </div>
    <!-- Close #posts -->

