* 
{
  margin: 0;
  padding: 0;
}

@media(max-width:400px) and (min-width:0px) {
  table {
    font-family: initial;
    font-size: 12px;
    min-width: 200px !important;
  }
  table img {
    width: 20px;
  }
  input {
    width: 100%;
  }
}

/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC'); */

.quiz button,
.quiz .quizQuestions ul.questionAnswers li,
.quiz .quizResults li {
  border-radius: 2px;
  font-size: 100% !important;
}


/*  PLUGIN DEFAULT STYLES    */
.questionTitle img {
  width: 30px;
  height: 30px;
}

.quiz {
  font-family: 'Amatic';
  /* position: relative; */
  font-size: 180%;
  margin: auto;
  max-width: 700px;
  padding: 2%;
}

.quiz ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz .hidden {
  display: none;
}

.quiz button {
  font-size: 16px;
  font-weight: 500;
  padding: 7px 18px;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  border-radius: 20px;
  border: none;
  background: #68B3C8;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 5px;
  outline: none;
  padding: 10px;
  width: auto;

}

@media screen and (min-width: 640px) {
  .quiz button {
    width: auto;
  }
}

.quiz button:hover {
  background: #3091B2;
}

.quiz .quizQuestions {
  margin-bottom: 10px;
}

.quiz .quizQuestions > li {
  display: none;
  position: relative;
}

.quiz .quizQuestions > li.showQuestion {
  display: block;
}

.quiz .quizQuestions > li.disabled .questionAnswers li:hover:not(.selectedAnswer) {
  background: initial;
}

.quiz .quizQuestions > li.disabled .questionAnswers li label,
.quiz .quizQuestions > li.disabled .questionAnswers li input[type="radio"] {
  cursor: default;
}

.quiz .quizQuestions > li .questionCount {
  font-size: 100%;
}

.quiz .quizQuestions > li .questionTitle {
  margin: 0;
  /* padding: 20px 0; */
}

.quiz .quizQuestions ul.questionAnswers {
  overflow: hidden;
}

.quiz .quizQuestions ul.questionAnswers li {
  margin-top: 5px;
  border: 1px solid #E2E2E2;
}

.quiz .quizQuestions ul.questionAnswers li:first-child {
  margin: 0;
}

.quiz .quizQuestions ul.questionAnswers li:hover {
  background: #ededed;
}

.quiz .quizQuestions ul.questionAnswers li.selectedAnswer {
  background: #68B3C8;
  color: #FFF;
}

.quiz .quizQuestions ul.questionAnswers li.incorrectAnswer {
  background: #EB5E28;
  color: #FFF;
}

.quiz .quizQuestions ul.questionAnswers li.correctAnswer {
  background: #7AC29A;
  color: #FFF;
}

.quiz .quizQuestions ul.questionAnswers label,
.quiz .quizQuestions ul.questionAnswers input[type="radio"] {
  cursor: pointer;
}

.quiz .quizQuestions ul.questionAnswers input[type="radio"] {
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.quiz .quizQuestions ul.questionAnswers label {
  display: inline-block;
  padding: 13px;
  width: 100%;
}

.quiz .quizControls {
  margin-top: 10px;
}

.quiz .quizControls button {
  display: block;
}

@media screen and (min-width: 640px) {
  .quiz .quizControls button {
    display: initial;
    margin-right: 5px;
  }
}

.quiz .quizControls button.ctrlPrev {
  background: #7A9E9F;
}

.quiz .quizControls button.ctrlPrev:hover {
  background: #427C89;
}

.quiz .quizControls button.ctrlDone {
  display: none;
}

.quiz .quizControls button.ctrlNext,
.quiz .quizControls button.ctrlDone {
  float: right;
  background: #7AC29A;
}

.quiz .quizControls button.ctrlNext:hover,
.quiz .quizControls button.ctrlDone:hover {
  background: #42A084;
}

.quiz .quizControls button.ctrlSkip {
  background: #9b59b6;
}

.quiz .quizControls button.ctrlSkip:hover {
  background: #874d9e;
}

.quiz .quizControls button.disabled {
  cursor: not-allowed;
  background: #E2E2E2;
}

.quiz .quizControls button.disabled:hover {
  background: #E2E2E2;
}

.quiz .quizResults ul {
  margin: 20px 0 10px;
}

.quiz .quizResults li {
  font-size: 14px;
  padding: 10px;
  border: 1px solid;
  border-left: 10px solid;
  margin-bottom: 10px;
  line-height: 1.5em;
}

.quiz .quizResults .viewResults {
  background: #7AC29A;
}

.quiz .quizResults .viewResults:hover {
  background: #42A084;
}

.quiz .quizResults .questionTitle {
  margin: 5px 0 10px;
}

.quiz .quizResults .answeredCorrect {
  border-color: #7AC29A;
}

.quiz .quizResults .answeredWrong {
  border-color: #EB5E28;
}

#quiz-container {
  margin-top: 5%;
  min-width: 200px;
  /* margin-bottom: 150px; */
  /* display: none; */
}

.quiz {
  width: 100%;
  /* padding: 2px; */
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(164, 158, 147, 0.6);
  background-color: #fff;
  margin-bottom: 20px;
  /* border: 1px solid #ddd; */
}

#quiz-chooser {
  min-width: 200px;
}

.quiz-choose-card {
  background-color: #fa0;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(164, 158, 147, 0.6);
  margin-bottom: 50px;
  /* min-height: 200px; */
  padding: 50px;
  margin: 5px;
}

.quiz-choose-card:hover {
  cursor: pointer;
  background-color: #EB5E28;
  color: #fff;
  box-shadow: 0 7px 10px rgba(164, 158, 147, 0.6);
}

.emodji {
display: flex;
max-width: 100%;
width: 100%;
font-family: 'Amatic';
justify-content: space-around;
flex-wrap: wrap;
flex-direction: column;
padding: 5%;
background: white;
max-width: 700px;
text-align: center;
margin: auto;
margin-top: 2%;
}

.emodjiTest {
  flex-basis: 32%;
  min-width: 150px;
}

#quizHeader {
  font-family: 'Amatic';
  background: white;
  padding: 2%;
  text-align: center;
  max-width: 700px;
  min-width: 200px;
  margin: auto;
  margin-top: 2%;
}

.btn-end {
  background: #EB5E28 !important;
}

.btn-show-results, .btn-return-tests {
  background: rgb(40, 221, 109) !important;
}

.btn-return-tests {
  margin-top: 5%;
}

.btn-end:hover {
  background: #cc5324 !important;
  transition: all 150ms linear;
}

.btn-show-results:hover, .btn-return-tests:hover {
  background: rgb(28, 196, 92) !important;
  transition: all 150ms linear;
}

.btn-end a, .btn-show-results a, .btn-return-tests a {
  color: white;
}

.btn-end a:hover, .btn-show-results a:hover, .btn-return-tests a {
  text-decoration: none;
}

img {
  width: 30px;
}

table {
  width: 100%;
  min-width: 350px;
  /* font-size: 120%; */
}

.ourQuestions {
  width: 75%;
}

input {
  border: 1px solid rgba(216, 216, 216, 0.9);
  border-radius: 10px;
  background: rgba(216, 216, 216, 0.1);
}

tr {
  border-bottom: 1px solid rgba(216, 216, 216, 0.29);
}

td {
  padding: 1px;
}

/* СТИЛИ ДЛЯ РЕЗУЛЬТАТОВ ТЕСТОВ */

/* .initialAnswer {
  background: #7AC29A
} */

.wrong {
  background: #EB5E28
}

.right {
  background: #7AC29A;
}