@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Caveat|Pacifico');


/*----------------------------------------------------------------
  [Table of contents]
  1. Body
  2. Header
  3. Wall
  4. User profile
  5. Login
  6. Settings
  7. Scrollbar
  8. Small Devices
-----------------------------------------------------------------*/

/*----------------------------------------------------------------
1. Body
-----------------------------------------------------------------*/
/* 
@media (max-width: 760px) {
    .normNav {
        background: #e8a500;
    }
} */

body {
    background: #edf1f5 !important;
    font-family: Poppins, sans-serif;
}

a, a:link, a:visited, a:focus {
    color: #404040;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3 { font-weight: 600 !important; }

h3 { font-size: 15px !important;
     margin-top:0;
     margin-bottom:5px;}

video, img {
    width: 100%;
    height: auto;
}

.emoji {
    width:16px;
}

.emoji-count {
    margin-left: 5px;
}

.btn:focus,.btn:active, .btn:active:focus  { outline:none; }

.img-user {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
}

.flexContainerCardPost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #d09400;
}

.img-user-mini {
    width: 30px;
    height: 30px;
}

.popular-img {
   margin-top:10px;
}

.img-user-popular {
    width: 50px;
    height: 50px;
}


/*----------------------------------------------------------------
2. Header
-----------------------------------------------------------------*/


/*----------------------------------------------------------------
3. Wall
-----------------------------------------------------------------*/
.content-extendable {
    cursor: pointer;
}

.card-post {
    background: #ffffff;
    padding: 15px;
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Amatic SC', cursive;
    font-size: 200% !important;
    max-width: 700px;
}

.card-post .btn {
    margin-top: 2%;
    margin-right: 1%;
    font-size: 100%;
}

.card-post-text {
    margin: 1%;
}

.card-post-content img {
    text-align: center;
}

.img-post {
    max-width: 700px;
    /* max-width: 75%; */
    /* max-height: 75%; */
    margin: 1%;
    /* padding-right: 10%;
    padding-left: 10%; */
}

iframe {
    width: 100%;
}

.info-user i { color:#929292; }

.myDropDownMenu {
    display: none;
}

.myDropDownButton {
    display: none;
}

.reaction a.enabled img {
    cursor: pointer;
}

.reaction a:hover {
    text-decoration: none;
}

.reaction {
    margin: 1%;
}

.comments {
    /* border-top: 1px solid #dadada; */
    /* padding-top: 5px; */
    margin: 1%;
}

.comments ul {
    list-style: none;
    padding: 0px;
}

.comments ul li, .comments .more-comments {
    padding: 5px 0;
}

.comments .more-comments {
    color: #ababab;
}

.comment-content {
    margin-top: 5px;
    margin-bottom: 10px;
}

.comments .img-user {
    max-width: 80px;
    min-width: 40px;
    max-height: 80px;
    min-height: 40px;
}

.comments .info-user a {
    color: #5f5f5f;
}

.add-new-comment textarea {
    width: 100%;
}


#loading {
    width: 36px;
    margin: auto;
    margin-bottom: 20px;
}

.user-description {
    margin-top: 20px;
    line-height: 22px;
}

.info-user { margin-top:15px; }

.info-user p {margin:0px; }

.primary-content {
    width: 98%;
    margin: 1%;
}

.flexContainerHeaderPost {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background: #dadada; */
}

.flexBoxHeaderPost a {
    font-weight: bold;
}

.flexBoxHeaderPost {
    /* background: #ffeab6; */
    margin: 1%;
}

.flex_container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background: #c00; */
}

.flex_containerPost {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.post-tool-bar {
    margin: 1%;

}

.flexBoxLike {
    margin-top: 1%;
    /* background: #b5b5b5; */
}

.flexBoxLike img {
    margin-left: 1%;
}

/*----------------------------------------------------------------
4. User Profile
-----------------------------------------------------------------*/

.container-posts {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    max-width: 700px;
}

.profile-data {
    list-style: none;
    padding: 0px;
    line-height: 25px;
}

.flexContainerAuthorInformation {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 1.5vw;
    font-family: 'Amatic SC', cursive;
    font-size: 200% !important;
}

.flexContainerAuthorInformation h3 {
    font-size: 100% !important;
}

.flexContainerAuthorInformation a {
    color: blue;
    text-decoration: underline;
}

.flexBoxAuthorInformation {
    display: flex;
    flex-direction: row;
    /* background: #dadada; */
    margin-top: 1%;
}

.flexBoxAuthorInformation .divDataName {
    width: 20%;
    margin-right: 2%;
}

.flexBoxAuthorInformation .divData {
    width: 80%;
    margin-right: 2%;
}

.chat-message {
    padding: 12px 5px;
    border-radius: 10px;
    background: #4F5467;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
}

.chat-message h4 { margin-top:2px;
                   font-size: 14px;}

.chat-row {
    margin-top: 20px;
}

.chat-message.pull-right {
    background: #3a5248;
}

.chat-time {
    font-size: 11px;
    color: #b5b5b5;
    margin-bottom: 6px;
}

.chat-message .chat-time {
    position: absolute;
    top: 12px;
    right: 20px;
}

/* .scrollbar-container {
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
} */

.badge-replay, .badge-message {
    font-size: 14px;
    position: relative;
    top: 36px;
    font-weight: normal;
}

.badge-message {
    background: #4f5467;
}

.form-message {
    margin-bottom: 0px;
    margin-top: 20px;
}

textarea.post-textarea {
    height: 80px;
}

.create-post-form input[type=submit] {
    margin-top: 10px;
}

.row-user-list {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.image-preview {
    color: #777;
    margin: 5px;
}
.image-preview .thumbnail {
    width: 100px !important;
    height: 100px !important;
    position: relative !important;
}

.image-preview .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

/* .image-preview .thumbnail a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 3px;

    background: #c00;
    /* overflow: hidden; */
    /* text-indent: -9999px; */
/* } */


.authors-list {
    margin: 10px;
}
/*----------------------------------------------------------------
Editor
-----------------------------------------------------------------*/
.editor textarea.form-control {
    max-width: 100%;
    min-width: 100%;
    min-height: 70px;
    max-height: 200px;
    margin-bottom: 10px;
    margin: auto;
}
/*----------------------------------------------------------------
Login
-----------------------------------------------------------------*/

#login-page {
    /* width: 100vw;
    height: 100vh; */
    background-image: url('/images/loginBack.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.btn-social { color: #ffffff;}

.btn-social:hover, .btn-social:focus, .btn-social:active { color: #ffffff;
                                                           background: #e8a500;}

.btn-social:active:focus { background: #d09400;}

.form-box {
    width: 50%;
    /* height: 370px; */
    padding: 4%;
    color: #ffffff;
    position: relative;
    margin: auto;
    /* margin-top: -185px; */
    background: rgba(0, 0, 0, 0.7);
    /* background-color: white; */
    border-radius: 7px;
    margin-bottom: 5%;
}

.form-box form {
    margin-bottom: 20px;
}

.form-box input {
    margin-top: 20px;
}

.form-box input[type="submit"] {
    width: 100%;
}

.form-logo {
    width: 100%;
    padding: 0 10px;
}

.form-logo img { width:90px;
                 margin:25px 0 10px;
                 height: auto;}

.login-action, .login-action:link, .login-action:focus, .login-action:visited {
    color: #ffffff;
    font-size: 12px;
}

footer.login-footer {
    position: fixed;
    bottom: 0px;
    background: #404040;
    width: 100%;
    padding: 15px;
}

/*----------------------------------------------------------------
6. Settings
-----------------------------------------------------------------*/

.modal-dialog  { width:700px;}

.modal-header { background: #4F5467;
                color: #ffffff;
               }

.modal-row  { margin-top:25px; }

.modal-row p { margin-top: 8px;}


/*----------------------------------------------------------------
7. Scrollbar
-----------------------------------------------------------------*/

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}





.flexContainerForAll {
    display: flex;
    flex-direction: column;
    margin: 1%;
    min-width: 270px;
    align-items: center;
    margin: auto;
}

/* .content-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 700px;
} */

.sidebar-nav {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    /* min-width: 24% !important; */
    /* margin-right: 1%; */
    /* max-width: 25% !important; */
}

.flexContainerForSidebar {
    display: flex;
    flex-direction: row;
    max-height: 200px;
    justify-content: space-between;
    align-items: center;
}

.user-picture {
    max-width: 25%;
    padding: 2%;
}

/* .quadratish {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    margin: 1%;
    overflow: hidden;
} */

.card-post-text a {
    color: #4F5467;
    text-decoration: underline;
    font-size: 85%;
    font-weight: bold;
}

.reaction a {
    color: darkgray;
}

.normNav {
    background: yellow;
}

.navbar {
    min-width: 270px;
    /* height: 60px; */
}

.navbar nav a {
    font-size: 200%;
}

.nav img {
    width: 20px;
}

.flexContainerrelated {
    display: flex;
    flex-direction: column;
    margin-right: 9px;
    margin-left: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

.flexContainerrelated .card-post {
    /* width: 97%; */
}

.wall {
    max-width: 700px;
}

.newPublication {
    /* max-width: 75%; */
}

.navForMainPage nav {
    background: transparent;
}

.uppy-Dashboard-inner span {
    font-family: 'Amatic SC', cursive;
    font-size: 150% !important;
}

.uppy-Dashboard-inner a {
    font-family: 'Amatic SC', cursive;
    font-size: 100% !important;
}

.uppy-Dashboard-note {
    font-family: 'Amatic SC', cursive;
    font-size: 150% !important;
}

/* IMAGES IN MODAL WINDOW */

.card-post img[tabindex="1"] {
    cursor: zoom-in;
  }
/* .card-post img[tabindex="1"]:focus {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
  }
  img[tabindex="1"]:focus, img[tabindex="1"]:focus ~ * {
    pointer-events: none;
    cursor: zoom-out;
  } */

.navbar {
    margin-bottom: 0px !important;
}

#myNavbar {
    font-size: 130%;
}

.register {
    background: url('/images/backPushkin.png') center !important;
    background-size: cover;
}

.myRegister {
    margin-top: 5%;
    background: url('/images/backPushkin.png') center !important;
    background-size: cover;
}

.myFormControl {
    margin-top: 20px !important;
}

.myFormLabelsName {
    margin-top: 20px;
}

.myButtonRegister {
    margin-top: 10px;
}

.myDropDownMenu {
    position: relative !important;
    margin-top: 6%;
}

.myLinkDropdownToggle {
    float: left;
}

.navbar button:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: 0.5s linear;
}

#forgotPasswordModal {
    color: black;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
}

.forgotPasswordButton {
    font-size: 100% !important;
    border: 1px solid black !important;
}

.forgotPasswordButton:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: 0.5s linear;    
}

/* КНИПКА ВВЕРХ */

.linkUp {
    background: transparent;
    border:1px solid #ccc;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:10px;
    right:5px;
    cursor:pointer;
    color:#333;
    font-family: 'Amatic SC', cursive;
    font-size:150%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

/* КНОПКА ПОКАЗАТЬ ЕЩЁ */

#buttonDown {
    background: transparent;
    border:1px solid #ccc;
    text-align:center;
    padding:10px;
    margin-bottom:10px;
    cursor:pointer;
    color:#333;
    font-family: 'Amatic SC', cursive;
    font-size:150%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

/* СТИЛИ МОДАЛЬНОГО ОКНА ОТКРЫВАЮЩЕГО КАРТИНКУ */

#image-modal {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 150% !important;    
}

#image-modal button {
    font-size: 120%;
    border: 1px solid black;
}

.myButtonClose {
    border: 0px !important;
}

#image-modal button:hover {
    background: rgba(146,146,146,0.3);
    transition: .5s linear;
}

/* TESTS */

#grinev {
    height: 100vw;
    background: url(../../images/grinevStory/grinev.jpg) no-repeat;
    background-size: cover;
}

#igor {
    height: 100vw;
    background: url(../../images/igorStory/igor.jpg) no-repeat;
    background-size: cover;
}

#onegin {
    height: 100vw;
    background: url(../../images/oneginStory/onegin.jpg) no-repeat;
    background-size: cover;
}

#iuda {
    height: 100vw;
    background: url(../../images/iudaStory/iuda.jpg) no-repeat;
    background-size: cover;
}

#asya {
    height: 100vw;
    background: url(../../images/asyaStory/asya.jpg) no-repeat;
    background-size: cover;
}

#shinel {
    height: 100vw;
    background: url(../../images/shinelStory/shinel.jpg) no-repeat;
    background-size: cover;
}

#karamora {
    height: 100vw;
    background: url(../../images/karamoraStory/karamora.jpg) no-repeat;
    background-size: cover;
}

#mainDiv {
    background: white;
    margin: auto;
    margin-top: 2%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0px 0px 18px black;
    max-width: 700px;
    width: 80%;
    /* font-family: 'Pacifico', cursive; */
}

.testP {
    font-family: 'Caveat', cursive;
    font-size: 200%;
    text-align: center;
}

.testButton {
    padding: 1%;
    margin-top: 1%;
    background: white;
    border-radius: 10px;
    border: 0.5px solid black;
}

section button:hover, section div:hover {
    background: rgba(163, 163, 163, 0.2);
    /* border: 1px solid black; */
    transition: 0.5s linear;
    text-decoration: none;
}

section a {
    color: black;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 150%;
}

.imgTest {
    /* width: 50%; */
    max-width: 566px !important;
    display:block; margin:0 auto;
    /* max-height: 500px; */
    box-shadow: 0px 0px 3px black;
}

#story2, #story3, #story4, #story5, #story6,#story7, #story8, #story9, #story10, #story11, #story12, #story13, #story14, #story15, #story16, #story17, #story18, #story19, #story20, #story21, #story22, #story23, #story24, #story25, #story26, #story27, #story28, #story29, #story30, #story31, #story32, #story33, #story34, #story35, #story36, #story37, #story38, #story39, #story40, #story41 {
    display: none;
}

section div {
    margin: 10px;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
    font-size: 130%;
}

section a {
    font-size: 170%;
}

.interruptTest {
    margin-top: -3%;
    margin-right: -2%;
    border: 1px solid rgba(163, 163, 163, 0);
    background: rgba(163, 163, 163, 0);
    float: right;
    opacity: 0.5;
}

.interruptTest a:hover, button:hover {
    background: rgba(163, 163, 163, 0);
    text-decoration: none;
}

.testH3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 200% !important;
}